<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{!-- <div><a href="/signup">Sign Up!</a> </div>

<div><a href="/login">I'm already a user!</a> </div>

<div><a href="/main">Home</a> </div> --}}

<div class="container justify-content-center aling-items-center ">
    <div class="col">

 <div class=" row card text-center mb-3 offset-4 " style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Already User?</h5>
    <p class="card-text">Log in for some fun!</p>
    <a href="/login" class="btn btn-primary">Let's go!!</a>
  </div>
    </div>
<div>
<div class=" row  card text-center mb-3 offset-4 " style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Not Registred?</h5>
    <p class="card-text">Join for some fun!</p>
    <a href="/signup" class="btn btn-primary">Wanna be part!</a>
  </div>
</div>
<div class=" row card text-center mb-3 offset-4" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Know about us!</h5>
    <a href="/main" class="btn btn-primary">Home page</a>
  </div>
</div>

    </div>
   
</div>