<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Welcome to your private profile!</a>
   
    <div class="collapse navbar-collapse" id="navbarText">
      <span class="navbar-text offset-11">
        <a href="/login" class="btn btn-primary text-white">Log out</a>
      </span>
    </div>
  </div>
</nav>

<div class="text-center">
  <img src="/images/giphy.gif" class="rounded" alt="...">
</div>

